.course-container{
  border-radius: 5px;
  margin: 20px;
  font-family: georgia;
  position: relative;
  background: #fbfbfb;
  text-align: center;
  border: 1px solid silver;
  padding: 25px 15px;
  margin-bottom: 45px;
}

.assignment-container{
  border-radius: 5px;
  font-family: georgia;
  margin: 20px;
  position: relative;
  background: #fbfbfb;
  text-align: center;
  border: 1px solid silver;
  padding: 25px 15px;
  margin-bottom: 45px;
}

.assignment-form{
  border-radius: 5px;
  font-family: georgia;
  margin: 20px;
  position: relative;
  background: #fbfbfb;
  text-align: center;
  border: 1px solid silver;
  padding: 25px 15px;
  margin-bottom: 45px;
}

.edit{
  border-radius: 5px;
  border: 1px solid black;
}
