body{
  font-family: PT Serif Ibarra Real Nova georgia;
}
#container{
  margin: 10px 10px;
}

.course-name{
  font-size: 90px;
  font-weight: bold;
}

td{
  font-size: 25px;
}

.assignment-name{
  font-size: 40px;
  font-weight: bold;
}
.course-container {
  background-color:  #a3a3c2;
  border-radius: 10px;
  position: relative;
  text-align: center;
  border: 1px solid black;
  padding: 25px 15px;
  margin-bottom: 45px;
}

#course-form{
  border-radius: 5px;
  margin: 20px;
  position: relative;
  background: #fff3e6;
  text-align: center;
  border: 1px solid silver;
  padding: 25px 15px;
  margin-bottom: 45px;
}

.assignment-container {
  border-radius: 10px;
  /* margin: 20px; */
  position: relative;
  /* text-align: center; */
  border: 1px solid #ffa94d;
  padding: 25px 15px;
  margin-bottom: 45px;
  background-color: #fff3e6;
}

.assignment-form{
  border-radius: 5px;
  margin: 20px;
  position: relative;
  background: #fff3e6;
  text-align: center;
  border: 1px solid silver;
  padding: 25px 15px;
  margin-bottom: 45px;
}

.edit{
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 5px;

}

.assignments-containers{
  padding: 25px 20px;
}

button{
  margin: 20px;
}

.card-header{
  background-color: #ffa94d;

}

.name{
  margin-top: 10px;
}
